@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Press+Start+2P&family=Share+Tech+Mono&family=VT323&display=swap");

/*

font-family: 'Bungee', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Share Tech Mono', monospace;
font-family: 'VT323', monospace;

*/
.register-container {
  z-index: 0;
  margin-top: 8px;
  margin-bottom: 62px;
}
.principal {
  z-index: 0;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.register-form {
  z-index: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.encabezado {
  text-align: left;
  font-size: 20px;
}

.slider-input {
  width: 100%;
}

.principal {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
}
.temporizador {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-input-wraper {
  display: flex;
  flex-direction: row;
}

.form-button-register {
  margin: 22px;
  border: none;
  height: 50px;
  width: 100%;
}
.price-output,
.humedad-slider {
  color: black;
  font-size: 52px;
  font-family: "Share Tech Mono", monospace;
}

@media screen and (min-width: 800px) {
  .principal {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .register-form {
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .encabezado {
    text-align: left;
    font-size: 20px;
  }

  .slider-input {
    width: 472px;
  }

  .principal {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
  }
  .temporizador {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .form-button-register {
    margin: 22px;
    border: none;
    height: 50px;
    width: 100%;
  }
  .price-output,
  .humedad-slider {
    color: black;
    font-size: 52px;
    font-family: "Share Tech Mono", monospace;
  }
}

select {
  background-color: #2d9bf0;
  border-radius: 4px;
  width: 200px;
  height: 40px;
  font-size: medium;
  color: white;
}
